img {
    height: 200px;
    width: 230px;
   }

.card {
padding: 1em;
  margin: 1em;
  border: solid 2px yellow;
  border-radius: 4px;
  width: 230px;
  cursor: pointer;
  background-color: #fff;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  
  
}

.card:hover {
    border: none;
    border-right: solid 6px #ffd977;
    border-bottom: solid 6px #ffd977;
  }
  h2 {
   align-items: center;
   display: flex;
   font-family: fantasy;
  font-weight: normal;
  border-bottom: 6px dotted yellow;
  flex-direction: row;
  align-items: center;
  margin: auto;
  position: initial;
  justify-content: space-between;
  padding: 0 2em;
   max-width: 150px;
  }
  h2:hover {
    text-decoration: underline black;
    text-decoration-thickness: 6px;
  }
  